body {
	background-color: #f5f5f5;
}

.container-fluid {
	padding: 0;
}

form h1 {S
	display: inline-block;
}
form ul {
	display: inline-block;
}

.container {
	background-color: #fff;
	margin-top: 125px;
}

.menu-title {
	border-bottom: 2px #000 solid;
	border-right: 2px #000 solid;
}

.dish-name {
	font-size: 20px;
	display: inline-block;
	border-bottom: dotted #000 1px;
}

.dish {
	margin-bottom: 15px;
	padding-bottom: 20px;
	border-bottom: 1px solid #000;
}

form {
	position: fixed;
	top: 0;
	background: #eee;
	border: 2px solid #333;
	padding: 20px;
	width: 100%;
	height: 125px;
}

form h1 {
	text-align: left;
}

form p {
	display: inline-block;
	float: right;
}

#radio-list {
	text-align: center;
}

form input {
	margin-right: 35px;
}