html{
  font-family:sans-serif;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
}
body{
  margin:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
  display:block
}
audio,canvas,progress,video{
  display:inline-block;
  vertical-align:baseline
}
audio:not([controls]){
  display:none;
  height:0
}
[hidden],template{
  display:none
}
a{
  background-color:transparent
}
a:active,a:hover{
  outline:0
}
abbr[title]{
  border-bottom:1px dotted
}
b,strong{
  font-weight:bold
}
dfn{
  font-style:italic
}
h1{
  font-size:2em;
  margin:0.67em 0
}
mark{
  background:#ff0;
  color:#000
}
small{
  font-size:80%
}
sub,sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline
}
sup{
  top:-0.5em
}
sub{
  bottom:-0.25em
}
img{
  border:0
}
svg:not(:root){
  overflow:hidden
}
figure{
  margin:1em 40px
}
hr{
  box-sizing:content-box;
  height:0
}
pre{
  overflow:auto
}
code,kbd,pre,samp{
  font-family:monospace,monospace;
  font-size:1em
}
button,input,optgroup,select,textarea{
  color:inherit;
  font:inherit;
  margin:0
}
button{
  overflow:visible
}
button,select{
  text-transform:none
}
button,html input[type="button"],input[type="reset"],input[type="submit"]{
  -webkit-appearance:button;
  cursor:pointer
}
button[disabled],html input[disabled]{
  cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
  border:0;
  padding:0
}
input{
  line-height:normal
}
input[type="checkbox"],input[type="radio"]{
  box-sizing:border-box;
  padding:0
}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{
  height:auto
}
input[type="search"]{
  -webkit-appearance:textfield;
  box-sizing:content-box
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{
  -webkit-appearance:none
}
fieldset{
  border:1px solid #c0c0c0;
  margin:0 2px;
  padding:0.35em 0.625em 0.75em
}
legend{
  border:0;
  padding:0
}
textarea{
  overflow:auto
}
optgroup{
  font-weight:bold
}
table{
  border-collapse:collapse;
  border-spacing:0
}
td,th{
  padding:0
}
html{
  color:#222;
  font-size:1em;
  line-height:1.4
}
::-moz-selection{
  background:#b3d4fc;
  text-shadow:none
}
::selection{
  background:#b3d4fc;
  text-shadow:none
}
hr{
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #ccc;
  margin:1em 0;
  padding:0
}
audio,canvas,iframe,img,svg,video{
  vertical-align:middle
}
fieldset{
  border:0;
  margin:0;
  padding:0
}
textarea{
  resize:vertical
}
.browserupgrade{
  margin:0.2em 0;
  background:#ccc;
  color:#000;
  padding:0.2em 0
}
.hidden{
  display:none!important
}
.visuallyhidden{
  border:0;
  clip:rect(0 0 0 0);
  height:1px;
  margin:-1px;
  overflow:hidden;
  padding:0;
  position:absolute;
  width:1px
}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{
  clip:auto;
  height:auto;
  margin:0;
  overflow:visible;
  position:static;
  width:auto
}
.invisible{
  visibility:hidden
}
.clearfix:before,.clearfix:after{
  content:" ";
  display:table
}
.clearfix:after{
  clear:both
}
@media print{
  *,*:before,*:after{
      background:transparent!important;
      color:#000!important;
      box-shadow:none!important;
      text-shadow:none!important
  }
  a,a:visited{
      text-decoration:underline
  }
  a[href]:after{
      content:" (" attr(href) ")"
  }
  abbr[title]:after{
      content:" (" attr(title) ")"
  }
  a[href^="#"]:after,a[href^="javascript:"]:after{
      content:""
  }
  pre,blockquote{
      border:1px solid #999;
      page-break-inside:avoid
  }
  thead{
      display:table-header-group
  }
  tr,img{
      page-break-inside:avoid
  }
  img{
      max-width:100%!important
  }
  p,h2,h3{
      orphans:3;
      widows:3
  }
  h2,h3{
      page-break-after:avoid
  }
}
.clear::before,.clear::after{
  content:'';
  display:table
}
.clear::after{
  clear:both
}
.show{
  display:block!important
}
.hidden{
  display:none!important
}
.invisible{
  visibility:hidden
}
@media screen and (min-width:840px){
  .show-small{
      display:none!important
  }
}
@media screen and (min-width:0) and (max-width:839px){
  .js-modal-visible{
      display:none!important
  }
}
.text-center{
  text-align:center
}
.text-left{
  text-align:left
}
.text-right{
  text-align:right
}
.text-lowercase{
  text-transform:lowercase
}
.text-uppercase{
  text-transform:uppercase
}
.text-capitalize{
  text-transform:capitalize
}
.object-cover{
  -o-object-fit:cover;
  object-fit:cover
}
html{
  box-sizing:border-box
}
*,*:before,*:after{
  box-sizing:inherit
}
body{
  background-color:#f8f8f8;
  font-family:"lato","Arial",serif;
  font-size:16px;
  font-weight:400;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  text-shadow:1px 1px 1px rgba(0,0,0,0.004);
  color:#333
}
a{
  color:#39a5eb;
  -webkit-transition:.2s color ease;
  transition:.2s color ease
}
a:hover,a:focus{
  color:#ff2a53;
  text-decoration:underline;
  outline:none
}
.iframe-container{
  position:relative;
  padding-bottom:56.25%;
  padding-top:1.875em;
  height:0;
  overflow:hidden
}
.iframe-container iframe,.iframe-container object,.iframe-container embed{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%
}
html,body{
  color:#333;
  font-weight:400
}
h1,h2,h3,h4,h5,h6,p{
  margin:0
}
.small,small{
  font-size:13px
}
.base,p,ul,ol{
  font-size:16px
}
p{
  letter-spacing:1px;
  line-height:1.6;
  margin-bottom:30px
}
h1{
  font-family:"open-sans-condensed","Arial",serif;
  font-size:68px;
  font-weight:700;
  text-transform:uppercase;
  line-height:.9;
  color:#fff
}
@media screen and (min-width:840px){
  h1{
      font-size:100px
  }
}
h2{
  font-size:70px;
  font-weight:700;
  text-transform:uppercase;
  line-height:1
}
@media screen and (min-width:840px){
  h2{
      font-size:80px
  }
}
h3{
  font-size:30px;
  text-transform:uppercase;
  line-height:1
}
@media screen and (min-width:840px){
  h3{
      font-size:32px
  }
}
h4{
  font-size:14px;
  font-weight:800;
  line-height:1
}
@media screen and (min-width:840px){
  h4{
      font-size:18px
  }
}
h5{
  font-size:20px;
  font-weight:400
}
h6{
  font-size:14px;
  font-weight:500;
  text-transform:uppercase
}
li>p{
  padding-top:0
}
a{
  -webkit-transition:color .3s ease;
  transition:color .3s ease
}
a:hover{
  color:#ff2a53
}
body,html{
  width:100%;
  height:100%
}
#main{
  margin:0 auto;
  overflow-x:hidden;
  overflow-y:auto;
  -webkit-overflow-scrolling:touch
}
.main-container{
  background-color:#f8f8f8;
  position:relative;
  left:0;
  -webkit-transition:left .2s ease-in-out;
  transition:left .2s ease-in-out
}
.container{
  width:100%;
  max-width:1440px;
  position:relative;
  margin:0 auto;
  padding:0 20px
}
@media screen and (min-width:840px){
  .container{
      padding:0 40px
  }
}
@media screen and (min-width:840px){
  .row{
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex
  }
}
@media screen and (min-width:840px){
  .column{
      width:50%;
      -webkit-box-flex:1;
      -ms-flex:1 0 auto;
      flex:1 0 auto
  }
}
.branding{
  position:fixed;
  top:18px;
  left:50%;
  z-index:100;
  -webkit-transform:translateX(-50%);
  transform:translateX(-50%)
}
@media screen and (min-width:840px){
  .branding{
      top:35px
  }
}
.branding:hover .logo-olo,.branding:focus .logo-olo{
  fill:#26b3e2
}
.logo-olo{
  fill:#fff;
  -webkit-transition:fill .3s ease;
  transition:fill .3s ease
}
.logo{
  position:relative;
  display:block;
  width:75px;
  height:46px
}
.logo-line{
  position:absolute;
  top:50%;
  left:50%;
  width:8px;
  height:46px;
  opacity:0;
  -webkit-transform:translate3d(-50%,-50%,0);
  transform:translate3d(-50%,-50%,0);
  -webkit-animation:logoOpacity 2s ease 1s;
  animation:logoOpacity 2s ease 1s;
  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards
}
.logo-circle{
  position:absolute;
  top:50%;
  left:50%;
  width:30px;
  height:30px;
  -webkit-transform:translate3d(0,-50%,0);
  transform:translate3d(0,-50%,0)
}
.logo-circle--left{
  opacity:0;
  left:50%;
  -webkit-transform:translate3d(-50%,-50%,0);
  transform:translate3d(-50%,-50%,0);
  -webkit-animation:circleLeft 1.5s ease 1s;
  animation:circleLeft 1.5s ease 1s;
  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards
}
.logo-circle--right{
  opacity:0;
  right:50%;
  -webkit-transform:translate3d(-50%,-50%,0);
  transform:translate3d(-50%,-50%,0);
  -webkit-animation:circleRight 1.5s ease 1s;
  animation:circleRight 1.5s ease 1s;
  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards
}
.js-nav-visible{
  background-color:#f8f8f8
}
@media screen and (min-width:0) and (max-width:839px){
  .js-nav-visible .logo-olo{
      fill:#26b3e2
  }
  .js-nav-visible .button--contact{
      color:#26b3e2;
      border-color:#26b3e2
  }
  .js-nav-visible .button--contact:hover,.js-nav-visible .button--contact:focus{
      color:#fff
  }
}
@-webkit-keyframes logoOpacity{
  100%{
      opacity:1
  }
}
@keyframes logoOpacity{
  100%{
      opacity:1
  }
}
@-webkit-keyframes circleLeft{
  20%{
      opacity:0
  }
  100%{
      opacity:1;
      -webkit-transform:translate3d(-120%,-50%,0);
      transform:translate3d(-120%,-50%,0)
  }
}
@keyframes circleLeft{
  20%{
      opacity:0
  }
  100%{
      opacity:1;
      -webkit-transform:translate3d(-120%,-50%,0);
      transform:translate3d(-120%,-50%,0)
  }
}
@-webkit-keyframes circleRight{
  20%{
      opacity:0
  }
  100%{
      opacity:1;
      -webkit-transform:translate3d(20%,-50%,0);
      transform:translate3d(20%,-50%,0)
  }
}
@keyframes circleRight{
  20%{
      opacity:0
  }
  100%{
      opacity:1;
      -webkit-transform:translate3d(20%,-50%,0);
      transform:translate3d(20%,-50%,0)
  }
}
header{
  background-color:transparent;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:100;
  width:100%;
  height:80px;
  -webkit-transition:background-color .3s ease;
  transition:background-color .3s ease
}
@media screen and (min-width:840px){
  header{
      height:110px
  }
}
.js-header-scrolled header{
  background-color:#2e2e2e
}
.js-header-scrolled .logo-olo,.js-header-scrolled svg.button--contact{
  fill:#26b3e2
}
.js-header-scrolled .button--x__line{
  background-color:#26b3e2
}
footer{
  position:relative;
  z-index:16;
  color:#fff;
  overflow:hidden
}
.panel--learn-more{
  background-color:#2e2e2e;
  overflow:hidden;
  -webkit-transition:background-color .3s ease;
  transition:background-color .3s ease
}
@media screen and (min-width:840px){
  .panel--learn-more{
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-align:center;
      -ms-flex-align:center;
      align-items:center;
      -webkit-box-pack:justify;
      -ms-flex-pack:justify;
      justify-content:space-between;
      height:158px
  }
}
.panel--learn-more:hover,.panel--learn-more:focus{
  background-color:#00324f
}
.learn-more__header{
  font-size:40px;
  margin:40px 20px;
  text-align:center;
  text-transform:none
}
@media screen and (min-width:840px){
  .learn-more__header{
      margin:0 auto;
      font-size:35px
  }
}
.learn-more__link{
  font-style:italic;
  text-decoration:none
}
@media screen and (min-width:0) and (max-width:839px){
  .learn-more__link{
      display:block
  }
}
.learn-more__link:hover,.learn-more__link:focus{
  text-decoration:none
}
.footer__bottom{
  background-color:#3b3b3b;
  overflow:hidden
}
.footer__bottom .container{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  height:190px
}
@media screen and (min-width:840px){
  .footer__bottom .container{
      height:100px;
      -webkit-box-orient:horizontal;
      -webkit-box-direction:normal;
      -ms-flex-direction:row;
      flex-direction:row
  }
}
.footer__navigation{
  margin:0 auto;
  padding:0;
  font-size:18px;
  text-align:center
}
@media screen and (min-width:840px){
  .footer__navigation{
      margin:0 30px
  }
}
.footer__navigation a{
  color:#fff
}
.footer__navigation a:hover,.footer__navigation a:focus{
  color:#fff
}
.footer__item{
  display:inline-block;
  padding:0 12px 6px
}
@media screen and (min-width:840px){
  .footer__item{
      padding:0 20px
  }
}
.footer__item__link{
  text-decoration:none
}
.footer--social{
  margin:0 auto 20px;
  padding:0;
  text-align:center
}
@media screen and (min-width:840px){
  .footer--social{
      margin:0;
      -webkit-box-ordinal-group:2;
      -ms-flex-order:1;
      order:1
  }
}
.footer__social-link{
  padding:0 8px
}
.footer__social-link .icon{
  width:48px;
  height:48px;
  fill:#7e7e7e
}
.footer__social-link .icon:hover,.footer__social-link .icon:focus{
  fill:#ccc
}
.footer-background{
  background-color:#f8f8f8;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:100vh;
  z-index:0;
  opacity:0
}
.page-bottom .footer-background{
  opacity:1
}
.button,.hs-form.stacked .hs-button{
  background-color:#26b3e2;
  display:inline-block;
  padding:10px 23px;
  width:170px;
  min-width:170px;
  height:40px;
  font-size:14px;
  font-weight:600;
  text-align:center;
  text-transform:uppercase;
  color:#fff;
  border:none;
  border-radius:2px;
  text-decoration:none;
  -webkit-transition:background-color .3s ease;
  transition:background-color .3s ease
}
.button:hover,.hs-form.stacked .hs-button:hover,.button:focus,.hs-form.stacked .hs-button:focus{
  background-color:#119bc9;
  color:#fff;
  text-decoration:none
}
.button--contact{
  position:fixed;
  top:38px;
  right:40px;
  z-index:100
}
svg.button--contact{
  top:30px;
  fill:#fff;
  width:30px;
  height:20px
}
@media screen and (min-width:840px){
  svg.button--contact{
      top:46px
  }
}
.button--white{
  background-color:#fff;
  color:#39a5eb
}
.button--white:hover,.button--white:focus{
  background-color:#bddeed;
  color:#39a5eb
}
@media screen and (min-width:840px){
  .button--large{
      padding-top:14px;
      width:200px;
      height:50px;
      font-size:16px
  }
}
.button--about{
  background-color:#ce3952
}
.button--about:hover,.button--about:focus{
  background-color:#ab152e
}
.button--instagram{
  background-color:#a92b42
}
.button--instagram:hover,.button--instagram:focus{
  background-color:#ab152e
}
.button--x{
  width:38px;
  height:26px;
  cursor:pointer;
  opacity:1;
  -webkit-transition:.3s opacity;
  transition:.3s opacity
}
.button--x__line{
  background-color:#fff;
  position:absolute;
  width:38px;
  height:2px;
  -webkit-transform:rotate(0deg) translateX(0) translateY(0);
  transform:rotate(0deg) translateX(0) translateY(0);
  -webkit-transition:all .2s ease;
  transition:all .2s ease
}
.button--x__top{
  top:0;
  -webkit-transform-origin:left top;
  transform-origin:left top
}
.button--x__mid{
  top:12px
}
.button--x__bottom{
  bottom:0;
  -webkit-transform-origin:left bottom;
  transform-origin:left bottom
}
.js-nav-visible .button--x__line,.js-modal-visible .button--x__line{
  background-color:#3b3b3b;
  width:38px
}
.js-nav-visible .button--x__top,.js-modal-visible .button--x__top{
  -webkit-transform:rotate(40deg);
  transform:rotate(40deg)
}
.js-nav-visible .button--x__mid,.js-modal-visible .button--x__mid{
  opacity:0
}
.js-nav-visible .button--x__bottom,.js-modal-visible .button--x__bottom{
  -webkit-transform:rotate(-40deg);
  transform:rotate(-40deg)
}
.button--app{
  background-color:transparent;
  margin:25px 6px 0;
  padding:0 10px;
  height:60px;
  border:1px solid #fff;
  border-radius:4px;
  font-size:14px;
  font-weight:300;
  text-transform:none
}
@media screen and (min-width:840px){
  .button--app{
      margin-bottom:25px
  }
}
.button--app:hover,.button--app:focus{
  background-color:rgba(255,255,255,0.1);
  color:#fff
}
.button--app__inner{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-pack:distribute;
  justify-content:space-around;
  height:100%
}
.button--app__title{
  font-size:20px;
  font-weight:400;
  letter-spacing:1px;
  line-height:1
}
.button--itunes{
  width:192px
}
.button--google-play{
  width:210px
}
.navigation{
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  z-index:100;
  text-align:center;
  -webkit-transform:translateX(-100%);
  transform:translateX(-100%);
  -webkit-transition:-webkit-transform .3s ease;
  transition:-webkit-transform .3s ease;
  transition:transform .3s ease;
  transition:transform .3s ease,-webkit-transform .3s ease
}
@media screen and (min-width:0) and (max-width:839px){
  .navigation{
      width:100%
  }
}
.navigation__container{
  background-color:#fff;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  width:100%;
  height:100%;
  overflow-y:scroll
}
@media screen and (min-width:840px){
  .navigation__container{
      width:350px;
      overflow:hidden
  }
}
#nav-global-menu{
  margin-top:95px
}
.navigation__list{
  display:inline-block;
  margin:0;
  padding:0;
  text-transform:uppercase;
  list-style:none
}
.navigation__list--vertical .menu__link{
  margin:0 20px;
  padding:8px 0;
  border-bottom:1px solid rgba(202,202,202,0.8)
}
@media screen and (min-width:375px){
  .navigation__list--vertical .menu__link{
      padding:16px 0
  }
}
@media screen and (min-width:840px){
  .navigation__list--vertical .menu__link{
      margin:0 auto;
      padding:20px 0;
      border-bottom:none
  }
}
.navigation__list--vertical .navigation__item{
  line-height:1.0em
}
.navigation__list--vertical .navigation__item:last-child .menu__link{
  border:none
}
.navigation__list--horizontal{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  font-size:16px
}
@media screen and (min-width:840px){
  .navigation__list--horizontal{
      overflow:hidden
  }
}
.navigation__list--horizontal .navigation__item{
  -webkit-box-flex:1;
  -ms-flex:1 1 auto;
  flex:1 1 auto;
  width:50%;
  font-size:16px;
  letter-spacing:1px;
  overflow:hidden
}
.navigation__list--horizontal .navigation__item a{
  background-color:#26b3e2;
  display:block;
  padding:24px 0;
  line-height:1;
  text-align:center;
  color:#fff;
  text-decoration:none
}
.navigation__list--horizontal .navigation__item a:hover,.navigation__list--horizontal .navigation__item a:focus{
  text-decoration:none
}
.navigation__list--horizontal .navigation__item a:hover .caret-right,.navigation__list--horizontal .navigation__item a:focus .caret-right{
  -webkit-transform:translateX(-4px);
  transform:translateX(-4px)
}
.navigation__list--horizontal .navigation__item:last-child a{
  position:relative
}
.navigation__list--horizontal .navigation__item:last-child a:before{
  background-color:#2baad4;
  position:absolute;
  top:1px;
  left:0;
  display:block;
  width:1px;
  height:70px;
  content:""
}
.navigation__item{
  margin:0 auto;
  width:100%;
  font-size:30px
}
.navigation__item a{
  font-weight:600
}
.mobile-nav-button{
  position:fixed;
  top:28px;
  left:40px;
  z-index:100
}
@media screen and (min-width:840px){
  .mobile-nav-button{
      top:44px
  }
}
.js-nav-visible,.js-modal-visible{
  overflow:hidden
}
@media screen and (min-width:0) and (max-width:839px){
  .js-nav-visible .logo-olo,.js-modal-visible .logo-olo{
      fill:#26b3e2
  }
}
.menu__link{
  display:block;
  margin:0 20px;
  font-weight:500;
  color:#26b3e2;
  text-decoration:none;
  opacity:0;
  -webkit-transform:translateX(0);
  transform:translateX(0)
}
@media screen and (min-width:840px){
  .menu__link{
      margin:0 auto;
      text-align:left
  }
}
.menu__link:hover,.menu__link:focus{
  text-decoration:underline
}
.js-nav-visible{
  overflow:hidden
}
.js-nav-visible .navigation{
  -webkit-transform:translateX(0);
  transform:translateX(0)
}
@media screen and (min-width:840px){
  .js-nav-visible .main-container,.js-nav-visible #hero{
      left:350px
  }
}
@media screen and (min-width:840px){
  .js-nav-visible .js-pinned{
      left:350px!important
  }
}
.js-nav-visible .menu__link{
  opacity:0
}
@media screen and (min-width:0) and (max-width:839px){
  .js-nav-visible .menu__link{
      -webkit-animation:.3s navFade ease;
      animation:.3s navFade ease;
      -webkit-animation-fill-mode:forwards;
      animation-fill-mode:forwards
  }
}
@media screen and (min-width:840px){
  .js-nav-visible .menu__link{
      -webkit-animation:.3s navSlideIn ease;
      animation:.3s navSlideIn ease;
      -webkit-animation-fill-mode:forwards;
      animation-fill-mode:forwards
  }
}
.js-nav-visible .navigation__item:nth-child(1) .menu__link{
  -webkit-animation-delay:80ms;
  animation-delay:80ms
}
.js-nav-visible .navigation__item:nth-child(2) .menu__link{
  -webkit-animation-delay:160ms;
  animation-delay:160ms
}
.js-nav-visible .navigation__item:nth-child(3) .menu__link{
  -webkit-animation-delay:240ms;
  animation-delay:240ms
}
.js-nav-visible .navigation__item:nth-child(4) .menu__link{
  -webkit-animation-delay:320ms;
  animation-delay:320ms
}
.js-nav-visible .navigation__item:nth-child(5) .menu__link{
  -webkit-animation-delay:400ms;
  animation-delay:400ms
}
.js-nav-visible .navigation__item:nth-child(6) .menu__link{
  -webkit-animation-delay:480ms;
  animation-delay:480ms
}
.js-nav-visible .navigation__item:nth-child(7) .menu__link{
  -webkit-animation-delay:560ms;
  animation-delay:560ms
}
.caret-right{
  margin:-2px 0 0 8px;
  width:5px;
  height:10px;
  fill:#fff;
  -webkit-transition:-webkit-transform .3s ease;
  transition:-webkit-transform .3s ease;
  transition:transform .3s ease;
  transition:transform .3s ease,-webkit-transform .3s ease
}
@-webkit-keyframes navSlideIn{
  100%{
      opacity:1;
      -webkit-transform:translateX(95px);
      transform:translateX(95px)
  }
}
@keyframes navSlideIn{
  100%{
      opacity:1;
      -webkit-transform:translateX(95px);
      transform:translateX(95px)
  }
}
@-webkit-keyframes navFade{
  100%{
      opacity:1
  }
}
@keyframes navFade{
  100%{
      opacity:1
  }
}
.modal{
  background-color:rgba(255,255,255,0.95);
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:-100;
  padding:40px 20px;
  opacity:0;
  overflow-y:scroll;
  text-align:center;
  -webkit-transition:all .3s ease;
  transition:all .3s ease
}
@media screen and (min-width:840px){
  .modal{
      padding:40px
  }
}
.modal__container{
  position:relative;
  margin:0 auto;
  padding:30px;
  -webkit-transform:scale(0.75);
  transform:scale(0.75);
  -webkit-transition:-webkit-transform .3s ease;
  transition:-webkit-transform .3s ease;
  transition:transform .3s ease;
  transition:transform .3s ease,-webkit-transform .3s ease
}
@media screen and (min-width:480px){
  .modal__container{
      padding:40px
  }
}
.js-modal-visible{
  overflow:hidden
}
.js-modal-shown{
  opacity:1;
  z-index:1000
}
.js-modal-shown .modal__container{
  -webkit-transform:scale(1);
  transform:scale(1)
}
.modal__close-button{
  position:absolute;
  z-index:100;
  top:28px;
  left:40px
}
@media screen and (min-width:840px){
  .modal__close-button{
      top:44px
  }
}
.hero{
  background-position:center center;
  background-size:cover;
  background-color:#26b3e2;
  position:relative;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  text-align:center;
  overflow:hidden;
  height:100vh;
  -webkit-transition:left .2s ease-in-out;
  transition:left .2s ease-in-out
}
.hero .container{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column
}
.hero h1{
  width:100%;
  text-shadow:-2px 2px 10px rgba(55,55,55,0.25)
}
#hero{
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:1
}
#hero .tag,#hero h1{
  opacity:0
}
#after-hero{
  margin-top:100vh
}
.wf-active #hero .tag{
  -webkit-animation:opacity 1s ease;
  animation:opacity 1s ease;
  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards
}
.wf-active #hero h1{
  -webkit-animation:opacity 2s ease .25s;
  animation:opacity 2s ease .25s;
  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards
}
.hero--generic{
  background-color:#26b3e2;
  padding-top:100px;
  padding-bottom:100px;
  height:auto;
  min-height:400px
}
.hero--generic h1{
  font-size:48px
}
@media screen and (min-width:840px){
  .hero--generic h1{
      font-size:100px
  }
}
.dots{
  background-image:-webkit-linear-gradient(top,#fff 5px,transparent 1px),-webkit-linear-gradient(#ccc 1px,transparent 1px);
  background-image:linear-gradient(to bottom,#fff 5px,transparent 1px),linear-gradient(#ccc 1px,transparent 1px);
  background-size:1px 10px;
  position:absolute;
  bottom:0;
  left:50%;
  width:1px;
  height:75px;
  opacity:0;
  -webkit-animation:opacity .5s linear;
  animation:opacity .5s linear;
  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards
}
.dots:before{
  position:absolute;
  top:-20px;
  left:50%;
  display:block;
  -webkit-transform:translateX(-50%);
  transform:translateX(-50%);
  width:14px;
  height:14px;
  border:1px solid #fff;
  border-radius:50%;
  content:""
}
.dots:after{
  background-color:#26b3e2;
  position:absolute;
  top:-17px;
  left:50%;
  display:block;
  -webkit-transform:translateX(-50%);
  transform:translateX(-50%);
  width:8px;
  height:8px;
  border-radius:50%;
  content:""
}
.animated-dots{
  position:absolute;
  bottom:40px;
  left:50%;
  margin:0;
  padding:0;
  list-style:none;
  opacity:0;
  -webkit-animation:opacity .5s linear 1.5s;
  animation:opacity .5s linear 1.5s;
  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards
}
@media screen and (min-width:840px){
  .animated-dots{
      bottom:0
  }
}
.animated-dots:before{
  position:absolute;
  top:-20px;
  left:50%;
  display:block;
  -webkit-transform:translateX(-50%);
  transform:translateX(-50%);
  width:14px;
  height:14px;
  border:1px solid #fff;
  border-radius:50%;
  opacity:.25;
  -webkit-transition:opacity .3s ease;
  transition:opacity .3s ease;
  -webkit-animation:dotOpacity 2s ease infinite;
  animation:dotOpacity 2s ease infinite;
  content:""
}
.animated-dots:after{
  background-color:#26b3e2;
  position:absolute;
  top:-17px;
  left:50%;
  display:block;
  -webkit-transform:translateX(-50%);
  transform:translateX(-50%);
  width:8px;
  height:8px;
  border-radius:50%;
  content:""
}
.animated-dots li{
  background-color:#fff;
  margin-bottom:4px;
  width:1px;
  height:5px;
  opacity:0;
  -webkit-animation:dotOpacity 2s ease infinite;
  animation:dotOpacity 2s ease infinite;
  -webkit-transition:opacity .3s ease;
  transition:opacity .3s ease
}
.animated-dots li:nth-child(1){
  -webkit-animation-delay:180ms;
  animation-delay:180ms
}
.animated-dots li:nth-child(2){
  -webkit-animation-delay:360ms;
  animation-delay:360ms
}
.animated-dots li:nth-child(3){
  -webkit-animation-delay:540ms;
  animation-delay:540ms
}
.animated-dots li:nth-child(4){
  -webkit-animation-delay:720ms;
  animation-delay:720ms
}
.animated-dots li:nth-child(5){
  -webkit-animation-delay:900ms;
  animation-delay:900ms
}
.animated-dots li:nth-child(6){
  -webkit-animation-delay:1080ms;
  animation-delay:1080ms
}
.animated-dots li:nth-child(7){
  -webkit-animation-delay:1260ms;
  animation-delay:1260ms
}
.animated-dots li:nth-child(8){
  -webkit-animation-delay:1440ms;
  animation-delay:1440ms
}
.animated-dots li:nth-child(9){
  -webkit-animation-delay:1620ms;
  animation-delay:1620ms
}
@-webkit-keyframes opacity{
  100%{
      opacity:1
  }
}
@keyframes opacity{
  100%{
      opacity:1
  }
}
@-webkit-keyframes dotOpacity{
  50%{
      opacity:1
  }
}
@keyframes dotOpacity{
  50%{
      opacity:1
  }
}
.panel{
  position:relative;
  z-index:15
}
.tag{
  background-color:#fff;
  display:inline-block;
  margin:0 auto 6px;
  padding:8px 18px 0;
  height:30px;
  font-size:14px;
  text-transform:uppercase;
  line-height:1;
  color:#26b3e2
}
@media screen and (min-width:840px){
  .tag{
      height:34px;
      font-size:18px
  }
}
.panel__header{
  margin:45px auto 30px;
  text-transform:uppercase;
  color:#26b3e2
}
@media screen and (min-width:840px){
  .panel__header{
      margin:60px auto 40px
  }
}
.quote{
  margin:50px auto;
  padding:40px 20px;
  text-align:center;
  border:2px dashed #26b3e2
}
@media screen and (min-width:840px){
  .quote{
      padding:50px 80px
  }
}
.quote__text{
  font-weight:300;
  font-style:italic;
  text-transform:none;
  line-height:1.3;
  letter-spacing:1px
}
.quote__author{
  margin-top:20px;
  margin-bottom:0;
  font-size:18px;
  font-style:italic
}
.contact__header{
  margin-bottom:25px;
  font-family:"open-sans-condensed","Arial",serif;
  font-size:50px;
  color:#26b3e2
}
.hs-form.stacked{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin:0 auto;
  max-width:418px
}
.hs-form.stacked>div{
  -webkit-box-flex:1;
  -ms-flex:1 0 auto;
  flex:1 0 auto;
  width:100%
}
.hs-form.stacked>div:first-child{
  -webkit-box-flex:0;
  -ms-flex:0 0 auto;
  flex:0 0 auto;
  width:48%
}
.hs-form.stacked>div:nth-of-type(2){
  -webkit-box-flex:0;
  -ms-flex:0 0 auto;
  flex:0 0 auto;
  width:48%;
  margin-left:auto
}
.hs-form.stacked .field{
  margin-bottom:10px
}
.hs-form.stacked .hs-form-field label{
  font-family:"lato","Arial",serif;
  font-size:16px;
  color:#303030
}
.hs-form.stacked .hs-form-field:not(.hs_we_have_fewer_than_50_restaurants_) label{
  display:none
}
.hs-form.stacked .hs-form-field .hs-error-msgs label{
  display:block
}
.hs-form.stacked input.hs-input,.hs-form.stacked textarea.hs-input{
  padding-left:16px;
  padding-right:16px;
  width:100%;
  height:40px;
  font-family:"lato","Arial",serif;
  font-size:16px;
  font-weight:300;
  border-color:#979797;
  border-radius:0;
  box-sizing:border-box
}
.hs-form.stacked textarea.hs-input{
  padding-top:15px;
  height:130px
}
.hs-form.stacked .hs_we_have_fewer_than_50_restaurants_ label>span:first-child{
  display:none
}
.hs-form.stacked .hs_we_have_fewer_than_50_restaurants_ input{
  margin-left:0;
  margin-right:15px;
  width:auto;
  height:15px
}
.hs-form.stacked .inputs-list:first-child{
  padding:0
}
.hs-form.stacked .actions{
  margin-top:0;
  margin-bottom:0;
  padding-top:15px
}
@media screen and (min-width:840px){
  .hs-form.stacked .actions{
      padding-bottom:100px
  }
}
.hs-form.stacked .hs-button{
  background-image:none;
  box-sizing:border-box;
  box-shadow:none;
  text-shadow:none;
  font-family:"lato","Arial",serif;
  width:200px;
  height:50px;
  letter-spacing:1px
}
.hs-form.stacked .hs-button:hover,.hs-form.stacked .hs-button:focus{
  border:none;
  box-shadow:none
}
.hero--thanks{
  background-image:url(../images/hero-ordering.jpg);
  height:auto;
  min-height:280px
}
@media screen and (min-width:840px){
  .hero--thanks{
      min-height:400px
  }
}
.panel--thanks .hs-form.stacked>div:first-child{
  width:100%
}
.panel--thanks .hs_submit{
  margin:0 auto
}
@media screen and (min-width:0) and (max-width:839px){
  .panel--thanks .hs_submit{
      margin-bottom:45px;
      width:auto!important
  }
}
.panel--thanks .hs_submit:hover,.panel--thanks .hs_submit:focus{
  box-shadow:none
}
.hs-form .hs-button:hover,.hs-form .hs-button:focus,.hs-form .hs-button.hovered{
  border-width:0!important;
  box-shadow:none!important
}
.panel--showcase{
  background-color:#26b3e2;
  z-index:10
}
.slick-initialized{
  opacity:1
}
.showcase__list{
  margin:0;
  padding:0;
  list-style:none
}
.showcase__slide{
  display:-webkit-box!important;
  display:-ms-flexbox!important;
  display:flex!important;
  height:890px;
  overflow:hidden;
  width:100%;
  height:100vh;
  min-height:450px;
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0)
}
.showcase__slide .{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column
}
@media screen and (min-width:840px){
  .showcase__slide .container{
      -webkit-box-orient:horizontal;
      -webkit-box-direction:normal;
      -ms-flex-direction:row;
      flex-direction:row;
      padding-top:130px;
      max-width:1320px
  }
}
@media screen and (min-width:1200px){
  .showcase__slide .container{
      max-width:1160px
  }
}
@media screen and (min-width:1600px){
  .showcase__slide .container{
      padding-top:0;
      max-width:1320px
  }
}
.slide__info{
  position:relative;
  z-index:2;
  color:#fff;
  text-align:center;
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0)
}
@media screen and (min-width:840px){
  .slide__info{
      width:450px;
      text-align:left
  }
}
.slide__name{
  margin-top:100px;
  font-weight:600;
  text-transform:uppercase
}
@media screen and (min-width:840px){
  .slide__name{
      margin-top:0
  }
}
.slide__intro{
  margin-top:10px;
  margin-bottom:20px;
  font-family:"open-sans-condensed","Arial",serif
}
@media screen and (min-width:0) and (max-width:479px){
  .slide__intro{
      font-size:40px;
      line-height:.9
  }
}
@media screen and (min-width:480px){
  .slide__intro{
      margin-bottom:40px;
      max-width:355px;
      font-size:60px
  }
}
@media screen and (min-width:1200px){
  .slide__intro{
      font-size:80px
  }
}
@media screen and (min-width:0) and (max-width:839px){
  .slide__image{
      margin-top:50px;
      margin-bottom:20px
  }
}
.slide__image img{
  position:relative;
  margin-bottom:0;
  left:50%;
  max-width:100%;
  max-height:250px;
  -webkit-transform:translate3d(-50%,0,0);
  transform:translate3d(-50%,0,0)
}
@media screen and (min-width:480px){
  .slide__image img{
      max-width:100%;
      max-height:550px
  }
}
@media screen and (min-width:1600px){
  .slide__image img{
      max-height:100%
  }
}
.showcase__navigation{
  position:fixed;
  top:50%;
  right:30px;
  display:none;
  color:#fff;
  -webkit-transform:translateY(-50%);
  transform:translateY(-50%);
  list-style:none;
  opacity:0
}
@media screen and (min-width:1200px){
  .showcase__navigation{
      right:50px
  }
}
@media screen and (min-width:840px){
  .js-showcase-nav-active{
      display:block;
      opacity:1
  }
}
.showcase__dot{
  margin:7px auto;
  opacity:.42
}
.showcase__link{
  background-color:#fff;
  display:block;
  width:8px;
  height:8px;
  border-radius:50%;
  text-indent:100%;
  overflow:hidden
}
.js-showcase-active-nav{
  opacity:1
}
#client-list{
  margin:0
}
.client__dots{
  background-image:-webkit-linear-gradient(top,#fff 5px,transparent 1px),-webkit-linear-gradient(#ccc 1px,transparent 1px);
  background-image:linear-gradient(to bottom,#fff 5px,transparent 1px),linear-gradient(#ccc 1px,transparent 1px);
  background-size:1px 10px;
  position:absolute;
  top:8px;
  left:550px;
  width:1px;
  height:55px
}
@media screen and (min-width:0) and (max-width:839px){
  .client__dots{
      display:none
  }
}
@media screen and (min-width:1000px) and (max-width:1199px){
  .client__dots{
      left:620px
  }
}
@media screen and (min-width:1200px){
  .client__dots{
      left:720px
  }
}
@media screen and (min-width:1600px){
  .client__dots{
      left:820px
  }
}
.client__dots:before{
  position:absolute;
  bottom:-20px;
  left:50%;
  display:block;
  -webkit-transform:translateX(-50%);
  transform:translateX(-50%);
  width:14px;
  height:14px;
  border:1px solid #fff;
  border-radius:50%;
  content:""
}
.client__dots:after{
  background-color:#fff;
  position:absolute;
  bottom:-17px;
  left:50%;
  display:block;
  -webkit-transform:translateX(-50%);
  transform:translateX(-50%);
  width:8px;
  height:8px;
  border-radius:50%;
  content:""
}
.client__dots-horizontal{
  background-image:-webkit-linear-gradient(left,#fff 5px,transparent 1px),-webkit-linear-gradient(transparent 1px,transparent 1px);
  background-image:linear-gradient(to right,#fff 5px,transparent 1px),linear-gradient(transparent 1px,transparent 1px);
  background-size:10px 1px;
  position:absolute;
  top:0;
  right:0;
  width:390px;
  height:1px
}
@media screen and (min-width:1000px) and (max-width:1199px){
  .client__dots-horizontal{
      width:464px
  }
}
@media screen and (min-width:1200px){
  .client__dots-horizontal{
      width:564px
  }
}
@media screen and (min-width:1600px){
  .client__dots-horizontal{
      width:664px
  }
}
@media screen and (min-width:1000px){
  .showcase--fiveguys .slide__image{
      margin-top:80px
  }
}
@media screen and (min-width:1200px){
  .showcase--fiveguys .slide__image{
      margin-top:20px
  }
}
@media screen and (min-width:1100px) and (max-width:1199px){
  .showcase--jambajuice .slide__image{
      margin-right:250px
  }
}
@media screen and (min-width:1200px){
  .showcase--jambajuice .slide__image{
      margin-right:150px
  }
}
.map{
  background-image:url(../images/map-small.jpg);
  background-position:center top;
  background-repeat:no-repeat;
  background-color:#323232;
  position:relative
}
@media screen and (min-width:840px){
  .map{
      background-image:url(../images/map.jpg)
  }
}
.map .container{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:start;
  -ms-flex-align:start;
  align-items:flex-start;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  height:436px
}
@media screen and (min-width:840px){
  .map .container{
      -webkit-box-align:center;
      -ms-flex-align:center;
      align-items:center
  }
}
.address{
  background-color:#fff;
  padding:32px 40px 30px;
  width:270px;
  max-width:270px;
  font-size:16px;
  font-weight:bold;
  color:#3b3b3b;
  text-align:center;
  text-transform:uppercase;
  opacity:0;
  -webkit-transform:scale(0.9);
  transform:scale(0.9);
  -webkit-transition:all .75s ease;
  transition:all .75s ease
}
@media screen and (min-width:0) and (max-width:839px){
  .address{
      margin-top:-64px
  }
}
.address p{
  margin-bottom:0
}
.address__logo{
  width:82px;
  height:49px
}
.address__header{
  display:inline-block;
  margin:15px auto;
  padding-bottom:3px;
  padding-left:20px;
  padding-right:20px;
  font-size:22px;
  font-weight:normal;
  text-transform:none;
  border-bottom:1px solid #3b3b3b
}
.map__dot{
  background-color:#26b3e2;
  position:absolute;
  top:280px;
  left:50%;
  display:block;
  margin:10px;
  width:10px;
  height:10px;
  border-radius:50%;
  margin-left:-70px;
  opacity:0;
  -webkit-transform:scale(0.25);
  transform:scale(0.25);
  -webkit-transition:all .75s ease .5s;
  transition:all .75s ease .5s
}
@media screen and (min-width:840px){
  .map__dot{
      top:277px;
      margin-left:-326px
  }
}
.map__dot:after{
  position:absolute;
  top:-6px;
  left:-6px;
  display:block;
  width:22px;
  height:22px;
  border:1px solid #26b3e2;
  border-radius:50%;
  content:"";
  -webkit-animation:dotPulse 2s linear infinite;
  animation:dotPulse 2s linear infinite;
  box-shadow:inset 0 0 10px #26b3e2;
  opacity:.1
}
@-webkit-keyframes dotPulse{
  50%{
      opacity:1
  }
}
@keyframes dotPulse{
  50%{
      opacity:1
  }
}
.js-animated .address{
  -webkit-transform:scale(1);
  transform:scale(1);
  opacity:1
}
.js-animated .map__dot{
  -webkit-transform:scale(1);
  transform:scale(1);
  opacity:1
}
.panel--perks{
  background-image:url(../images/perks-bgd-mobile.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center bottom;
  background-color:#f8f8f8;
  overflow:hidden
}
@media screen and (min-width:840px){
  .panel--perks{
      background-image:url(../images/perks-bgd.jpg)
  }
}
@media screen and (min-width:1200px){
  .panel--perks .container{
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex
  }
}
@media screen and (min-width:1200px){
  .perks__intro{
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-orient:vertical;
      -webkit-box-direction:normal;
      -ms-flex-direction:column;
      flex-direction:column;
      -webkit-box-pack:center;
      -ms-flex-pack:center;
      justify-content:center;
      width:40%
  }
}
.perks__intro h2{
  margin-top:45px;
  margin-bottom:45px;
  font-family:"open-sans-condensed","Arial",serif;
  font-size:70px;
  color:#545454
}
@media screen and (min-width:1200px){
  .perks__intro h2{
      margin-top:0;
      font-size:90px
  }
}
@media screen and (min-width:1200px){
  .perks__intro p{
      margin-right:100px
  }
}
.perks__blocks{
  background-color:#fcfcfc;
  margin-top:45px;
  margin-bottom:45px;
  padding:5px
}
@media screen and (min-width:1200px){
  .perks__blocks{
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -ms-flex-wrap:wrap;
      flex-wrap:wrap;
      width:60%
  }
}
.perks__block{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  padding:30px;
  text-align:center;
  color:#4a4a4a;
  -webkit-transition:opacity .3s ease,-webkit-transform .5s ease;
  transition:opacity .3s ease,-webkit-transform .5s ease;
  transition:transform .5s ease,opacity .3s ease;
  transition:transform .5s ease,opacity .3s ease,-webkit-transform .5s ease
}
@media screen and (min-width:0) and (max-width:1199px){
  .perks__block{
      border-bottom:1px dashed #26b3e2
  }
}
@media screen and (min-width:840px){
  .perks__block{
      opacity:0;
      -webkit-transform:scale(0.9);
      transform:scale(0.9)
  }
}
@media screen and (min-width:1200px){
  .perks__block{
      width:50%
  }
}
@media screen and (min-width:840px){
  .perks__block:first-child{
      -webkit-transform-origin:bottom right;
      transform-origin:bottom right
  }
}
@media screen and (min-width:1200px){
  .perks__block:first-child{
      border-right:1px dashed #26b3e2;
      border-bottom:1px dashed #26b3e2
  }
}
@media screen and (min-width:840px){
  .perks__block:nth-child(2){
      -webkit-transform-origin:bottom left;
      transform-origin:bottom left;
      -webkit-transition-delay:.15s;
      transition-delay:.15s
  }
}
@media screen and (min-width:1200px){
  .perks__block:nth-child(2){
      border-bottom:1px dashed #26b3e2
  }
}
@media screen and (min-width:840px){
  .perks__block:nth-child(3){
      -webkit-transform-origin:top right;
      transform-origin:top right;
      -webkit-transition-delay:.3s;
      transition-delay:.3s
  }
}
.perks__block:last-child{
  border-bottom:0
}
@media screen and (min-width:840px){
  .perks__block:last-child{
      -webkit-transform-origin:top left;
      transform-origin:top left;
      -webkit-transition-delay:.45s;
      transition-delay:.45s
  }
}
@media screen and (min-width:1200px){
  .perks__block:last-child{
      border-left:1px dashed #26b3e2
  }
}
.perks__block h3{
  margin-bottom:10px;
  color:#26b3e2
}
.perks__block p{
  width:100%
}
@media screen and (min-width:840px){
  .perks__block.js-animated{
      opacity:1;
      -webkit-transform:scale(1);
      transform:scale(1)
  }
}
.perks__icon{
  margin-top:20px;
  margin-bottom:10px;
  width:58px;
  height:58px
}
@media screen and (min-width:840px){
  .perks__icon{
      margin-bottom:30px
  }
}
.header--generic{
  margin-top:30px;
  margin-bottom:30px
}
